<footer class="bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex items-center justify-between pv3">
    {{- with .Prev -}}
      <a href="{{ .RelPermalink }}" class="link f5 pa2 br3 bg-mid-gray white dim flex items-center justify-center">
        <svg class="w1" data-icon="chevronLeft" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronLeft icon</title>
          <path d="M20 1 L24 5 L14 16 L24 27 L20 31 L6 16 z"></path>
        </svg>
        <span class="pl1">{{- .LinkTitle -}}</span>
      </a>
    {{- else -}}
      <div></div>
    {{- end -}}
    {{- with .Next -}}
      <a href="{{ .RelPermalink }}" class="link f5 pa2 br3 bg-mid-gray white dim flex items-center justify-center">
        <span class="pr1">{{- .LinkTitle -}}</span>
        <svg class="w1" data-icon="chevronRight" viewBox="0 0 32 32" style="fill:currentcolor">
          <title>chevronRight icon</title>
          <path d="M12 1 L26 16 L12 31 L8 27 L18 16 L8 5 z"></path>
        </svg>
      </a>
    {{- end -}}
  </div>
  <div class="{{ .Site.Params.background_color_class | default "bg-black" }} flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ with .Site.Copyright | default .Site.Title }} {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}
  </a>
    <div>{{ partial "social-follow.html" . }}</div>
  </div>
</footer>
