{{- $galleryCSS := resources.Get "gallery.css" | fingerprint -}}

{{- $lozad := resources.Get "lozad.js" | minify | fingerprint -}}

{{- $originals := .Page.Resources.ByType "image" -}}
{{- $scratch := newScratch -}}
{{- range $idx, $value := $originals -}}
  {{- $key := add now.Unix $idx -}}
  {{- with .Exif }}{{- with .Date -}}{{$key = .Unix}}{{end}}{{end}}
  {{- $scratch.Add "values" (slice (dict "key" $key "value" $value)) -}}
{{- end -}}
{{- $originals = slice -}}
{{- range sort ($scratch.Get "values") "key" -}}{{$originals = $originals | append .value}}{{end}}
<link href="{{ $galleryCSS.RelPermalink }}" rel="stylesheet">
<script src="{{ $lozad.RelPermalink }}"></script>
{{- $galleryId := (printf "gallery-%v" .Ordinal) }}
<gallery id="{{ $galleryId }}">
  {{ $index := 0 }}
  {{- range $originals -}}
    {{- $thumbnail := (.Resize "x150 Lanczos") -}}
    {{- $preview := .Fit "32x32 q20 webp" -}}
    {{- $aspectRatio := div (float $thumbnail.Width) $thumbnail.Height -}}
    {{- $sz := math.Round (mul $aspectRatio 150) -}}
    <div style="Width:{{$sz}}px;flex-grow:{{$sz}}">
      {{- $aspectRatio = div (math.Round (mul (div 100 $aspectRatio) 10)) 10}}
      <i style="padding-bottom:{{$aspectRatio}}%"></i>
      <img
        src="data:image/webp;base64,{{$preview.Content | base64Encode }}"
        class="lozad"
        data-src={{$thumbnail.RelPermalink}}
        data-idx={{$index}}
      >
    </div>
    {{ $index = add $index 1 }}
  {{- end -}}
</gallery>

<script type="text/javascript">
 const observer =  lozad('.lozad', {
   loaded: function(el) {el.classList.add('loaded')}
 });
 observer.observe();
</script>

{{ partial "partials/lightbox.html" $originals }}
