{{- $src := .Get "src" -}}
{{- $fill := .Get "fill" -}}
{{- $fit := .Get "fit" -}}
{{- $resize := .Get "resize" -}}
{{- $caption := .Get "caption" -}}
{{- $sizes := .Get "sizes" | default "(min-width: 60em) calc(((100vw - 1rem - 1rem) * 2 / 3 - 2rem) * 1 / 3), calc((100vw - 1rem - 1rem) * 1 / 3)" -}}
{{- $class := .Get "class" | default "fr w-33" -}}
{{- $refImg := .Page.Resources.GetMatch $src -}}
{{- $srcImg := $refImg -}}
{{- if $fill -}}{{- $srcImg := $refImg.Fill $fill -}}{{- end -}}
{{- if $fit -}}{{- $srcImg := $refImg.Fit $fit -}}{{- end -}}
{{- if $resize -}}{{- $srcImg := $refImg.Resize $resize -}}{{- end -}}
{{- $idx := partial "func/IndexOf" (dict "collection" (.Page.Resources.ByType "image") "element" $refImg.RelPermalink) -}}
{{- $srcSet := partial "func/SrcSet" $srcImg -}}
<figure class="{{$class}}">
  {{ if eq $idx -1 }}<a href="{{ $refImg.RelPermalink }}">{{ end }}
      <img
        {{ with $srcSet}}srcset="{{.}}"{{ end }}
        src="{{ $srcImg.RelPermalink }}"
        sizes="{{$sizes}}"
        {{ if ne $idx -1 }}data-idx="{{ $idx }}"{{ end }}
      >
  {{ if eq $idx -1 }}</a>{{ end }}
  <figcaption>{{ $caption }}</figcaption>
</figure>
